@mixin make-row($gutter: $grid-gutter-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter / 2;
    margin-right: -$gutter / 2;
}

@mixin make-col-ready($gutter: $grid-gutter-width) {
    box-sizing: if(variable-exists(include-column-box-sizing) and $include-column-box-sizing, border-box, null);
    flex-shrink: 0;
    max-width: 100%;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    width: 100%;
}

@mixin make-col($size, $columns: $grid-columns) {
    flex: 0 0 auto;
    width: percentage($size / $columns);
}

@mixin make-col-auto() {
    flex: 0 0 auto;
    width: auto;
}

@mixin make-col-offset($size, $columns: $grid-columns) {
    $num: $size / $columns;
    margin-left: if($num==0, 0, percentage($num));
}

@mixin row-cols($count) {
    >* {
        flex: 0 0 auto;
        width: 100% / $count;
    }
}

@mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        @include media-breakpoint-up($breakpoint, $breakpoints) {

            .col#{$infix} {
                flex: 1 0 0%;
                min-width: 0;
            }

            .row-cols#{$infix}-auto>* {
                @include make-col-auto();
            }

            @for $i from 1 through $grid-row-columns {
                .row-cols#{$infix}-#{$i} {
                    @include row-cols($i);
                }
            }

            .col#{$infix}-auto {
                @include make-col-auto();
            }

            @for $i from 1 through $columns {
                .col#{$infix}-#{$i} {
                    @include make-col($i, $columns);
                }
            }

            @for $i from 0 through ($columns - 1) {
                @if not ($infix==""and $i==0) {
                    .offset#{$infix}-#{$i} {
                        @include make-col-offset($i, $columns);
                    }
                }
            }
        }
    }
}